.view{
    background: linear-gradient(0deg, rgb(0 13 14) 65%, #041d24 100%)
    
} 

.image-container{
    overflow: hidden;
}


 .image{
    background: url(../../../public/assets/img/stars.jpg) repeat-x;
    height: 50rem;
    width: 12000px;
    animation: slideIn 850s linear infinite;
    background-size: contain;
    opacity: 0;
    margin-left: 2rem;
 }
 @keyframes slideIn {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-6000px); /* The image width */
    }
  }
  .isMenuOpen{
    transition-duration: 0ms !important;
    visibility: hidden;
  }