 .tabs {
    font-size: 2.75rem;
    color: rgb(255, 255, 255);
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.699);
    border-radius: 0.75rem;
    width: max-content;
    transition-duration: 150ms;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
 }

 @media screen and (max-width:1235px) {
    .tabs {
       font-size: 2rem;
    }
 }

 @media screen and (max-width:870px) {
    .tabs {
       font-size: 1.75rem;
       padding: 0.5rem 1rem;
    }
 }

 @media screen and (max-width:680px) {
    .tabs {
       width: 100%;
       text-align: center;
       font-size: 1.25rem;
    }

    .tabs:hover {
       letter-spacing: 0px !important;
    }
 }

 .tabs:hover {
    background-color: rgba(255, 255, 255, 0.699);
    color: rgb(17 94 89);
    transition-duration: 150ms;
    letter-spacing: 0.35rem;
 }

 .tabs:active {
    transform: scale(.95);
 }

 .panelGlass {
    background: linear-gradient(0deg, rgba(0, 20, 31, 0.432) 50%, rgba(6, 71, 97, 0.486) 100%);
    animation: glass 5s infinite;
    border-radius: 16px;

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid #00ffff61;
    box-shadow:
       /* --- "glass" tube --- */
       /* inside */
       inset 0 0 0 2px rgba(0, 0, 0, 0.15),
       /* outside */
       0 0 0 2px rgba(0, 0, 0, 0.15),
       /* --- glow --- */
       /* inside */
       inset 0 0 4rem #00ffff61,
       /* outside */
       0 0 4rem #00ffff61;
 }
