@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100%;
}
body { 
  background:  #000d0e ;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  /* font-family: "Josefin Sans", sans-serif;  */
  /* font-family: "Chakra Petch", sans-serif; */
  font-family: "Pixelify Sans", sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
