@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100%;
}
body { 
  background:  #000d0e ;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  /* font-family: "Josefin Sans", sans-serif;  */
  /* font-family: "Chakra Petch", sans-serif; */
  font-family: "Pixelify Sans", sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.neon-sign-purple{
  border: 4px solid #ff00f2;   
  box-shadow: 
  /* --- "glass" tube --- */
  /* inside */ inset 0 0 0 2px rgba(0, 0, 0, 0.15),
  /* outside */      0 0 0 2px rgba(0, 0, 0, 0.15),
  /* --- glow --- */
  /* inside */ inset 0 0 2.5rem #ff00f2,
  /* outside */      0 0 1.5rem #ff00f2;
  text-shadow: 0 0 1.75rem #ff00f2;
}
.neon-sign-blue{
  border: 4px solid #00e1ff;   
  box-shadow: 
  /* --- "glass" tube --- */
  /* inside */ inset 0 0 0 2px rgba(0, 0, 0, 0.15),
  /* outside */      0 0 0 2px rgba(0, 0, 0, 0.15),
  /* --- glow --- */
  /* inside */ inset 0 0 2rem white,
  /* outside */      0 0 1.25rem white;
  text-shadow: 0 0 1.75rem #00e1ff;
}
.text-glow-blue{
  text-shadow: 0 0 1.75rem #00e1ff;

}