.fade-in {
    opacity: 0;
    margin-left: -18rem;
    transition-duration:1000ms;
}

.fade-in.visible {
    opacity: 1;
    margin-left: -8rem;
} 

@media screen and (max-width:870px) {
    .fade-in.visible {
        margin-left: 0rem;
    }
}
.glass{
    background: rgba(0, 255, 255, 0.315);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(0, 255, 255, 0.38);
}
.glassDesc{
    width: 30%;
    height: 1px;
    background: rgba(0, 255, 255, 0.42);
    border-radius: 16px;
    box-shadow: 0 0 20px #fff, 0 0 30px #00e1ff, 0 0 40px #00e1ff, 0 0 50px #00e1ff, 0 0 60px #00e1ff, 0 0 70px #00e1ff, 0 0 80px #00e1ff;
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(0, 255, 255, 1);
  
}
.glassSkills{
    background: #ff00f210;
    border-radius: 16px;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}
.description{
    font-size: 1.25rem;
    width: 30rem;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    border: 4px solid #00e1ff;   
    box-shadow: 
        /* --- "glass" tube --- */
        /* inside */ inset 0 0 0 2px rgba(0, 0, 0, 0.15),
        /* outside */      0 0 0 2px rgba(0, 0, 0, 0.15),
        /* --- glow --- */
        /* inside */ inset 0 0 2rem #00e1ff,
        /* outside */      0 0 1rem #00e1ff;
        text-shadow: 0 0 1.75rem #00e1ff;
    letter-spacing: 0.05rem;
}
.title{
    border: 4px solid #00e1ff;   
    box-shadow: 
    /* --- "glass" tube --- */
    /* inside */ inset 0 0 0 2px rgba(0, 0, 0, 0.15),
    /* outside */      0 0 0 2px rgba(0, 0, 0, 0.15),
    /* --- glow --- */
    /* inside */ inset 0 0 1rem #00ffff,
    /* outside */      0 0 1rem #00ffff;
}
.projectImg-container {
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 380px;
    border-radius: 1rem;
    border: 4px solid #00e1ff;   
    box-shadow: 
    /* --- "glass" tube --- */
    /* inside */ inset 0 0 0 2px rgba(0, 0, 0, 0.15),
    /* outside */      0 0 0 2px rgba(0, 0, 0, 0.15),
    /* --- glow --- */
    /* inside */ inset 0 0 1rem white,
    /* outside */      0 0 1rem white;
}
@media screen and (max-width:1235px) {
    .projectImg-container{
        width: 25rem;
        height: 20rem;
    }
}
@media screen and (max-width:870px) {
    .projectImg-container{
        width: 30rem;
    }
}
.projectImg-container img {
    transition: transform 1s ease;
    width: 100%;
    height: 100%;
    object-fit: fill;
    filter: brightness(0.9);
}
@media screen and (max-width:870px) {
    .projectImg-container img{
        object-fit: cover;
        object-position: left;
    }
}
.projectImg-container img:hover {
    transform: scale(1.05);
}